
h1,h2,h3,h4,h5,h6{
    font-family: var( --albersans-family);
    font-weight: 700;
}
ul li{
    padding-block: 8px;

}
ul li a{
    font-family: var(--popins-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--primary-color) !important;
    text-transform: capitalize;
}